@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  font-family: 'Light';
} */
.form-select {
    padding: 6px 12px;
    background: transparent;
    border: none;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }